In [48]:
import pandas as pd 

data = {'Values': [10, 12, 14, 15, 16, 18, 100]}

df = pd.DataFrame(data)
Q1 = df['Values'].quantile(0.25)
Q3 = df['Values'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_cleaned = df[(df['Values'] >= lower_bound) & (df['Values'] <= upper_bound)]
df_cleaned

   Values
0      10
1      12
2      14
3      15
4      16
5      18