In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = ["The cat sat on the mat", "The dog barked at the cat"]
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform(corpus)
print(vectors.toarray())

[[0.         0.         0.30253071 0.         0.42519636 0.42519636
  0.42519636 0.60506143]
 [0.42519636 0.42519636 0.30253071 0.42519636 0.         0.
  0.         0.60506143]]

In [38]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df = pd.DataFrame({
    'color' : ['red', 'blue',  'green', 'green', 'red', 'blue']
})

encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[['color']]).toarray()
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [60]:
encoded = pd.get_dummies(df, columns=['color'], dtype =int)
encoded

   color_blue  color_green  color_red
0           0            0          1
1           1            0          0
2           0            1          0
3           0            1          0
4           0            0          1
5           1            0          0